<button id="header_menu_open_button" class="header_button_show">
  <div class="big"></div>
  <div class="small"></div>
</button>
<button id="header_menu_close_button" class="header_button_hide"></button>

<nav class="header_nav">
  <a href="" class="header_nav_link">a propos</a>
  <a href="" class="header_nav_link">mes projets</a>
  <a href="" class="header_nav_link">contact</a>
</nav>
