// Font: Varela Round
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

//Variables
$bg_color: white;
$color1: black;
$font: "Varela Round", sans-serif;

* {
  font-family: $font;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $color1;
}

button {
  background-color: none;
  border: none;
}

.hidden {
  position: absolute;
  opacity: 0;
}
