<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>Document</title>
  </head>
  <body>
    <header><%- include('../partials/header') %></header>
    <main></main>
    <footer><%- include('../partials/footer') %></footer>
    <script src="js/script.js" type="module"></script>
  </body>
</html>
